@model Ser.Models.SysAdminVM.EditUserViewModel

@{
    ViewBag.Title = Ress.Ress.Edit;
}
@section Action {
	@Html.ActionLink(Ress.Ress.Cancel, "Index", null, new { @class = "btn btn-sm btn-default" })
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
		<div class="form-group">
			@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Name)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Contact, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Contact, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Contact)
			</div>
		</div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
		<div class="form-group">
			@Html.LabelFor(m => m.PartnerId, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-10">
				@MyHelpers.DropDown(ViewBag.PartnerDropDown, "PartnerId", "form-control", Ress.Ress.SelectIfApplicable, true)
			</div>
		</div>
        <div class="form-group">
            @Html.Label("Roles", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var item in Model.RolesList)
				{
					if (item.Value != "SysAdmin")
					{
						<div>
							<input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
							@Html.Label(item.Value, new { @class = "control-label" })
						</div>
					}

				}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-right">
				@Html.HiddenFor(m => m.UserName)
                <input type="submit" value="@Ress.Ress.Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
